:root {
    --main-bg-color: rgb(100, 111, 88)
}

/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

/* basic element selectors */
body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

header {
    background-color: rgb(255, 205, 213);
    height: 200px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgb(255, 185, 185);
}

footer {
    background-color: rgb(255, 205, 213);
    height: 200px;
    display: flex;
    gap: 30px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 10px solid rgb(255, 185, 185);
}

/* name plate styling */
.name-plate {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 50px;
    background-color: rgb(202, 207, 133);
    border: 10px solid rgb(140, 186, 128);
    text-align: center;
    padding: 10px;
}

.name-plate:hover {
    font-size: 60px;
}

.name-plate:focus {
    font-size: 60px;
}

/* nav styling */
.navbar-style {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(202, 207, 133);
    margin-left: 10%;
    margin-right: 10%;
    border-right: 10px solid rgb(140, 186, 128);
    border-left: 10px solid rgb(140, 186, 128);
}

.list-style {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 35px;
    font-weight: bolder;
    list-style: none;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-list-item {
    background-color: rgb(255, 205, 213);
    border: 5px solid rgb(255, 185, 185);
    padding: 5px;
    margin: 10px;
    min-width: 200px;
}

.nav-list-item:hover {
    transform: scale(1.1, 1.1);
}

.nav-list-item:focus {
    transform: scale(1.1, 1.1);
}

/* Box above main styling */
.bio-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 207, 133);
    margin-left: 10%;
    margin-right: 10%;
    border-right: 10px solid rgb(140, 186, 128);
    border-left: 10px solid rgb(140, 186, 128);
    padding: 10px;
}

section h2 {
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    font-size: 45px;
    margin: 10px;
}

section p {
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    max-width: 70%;
}

/* profile picture styling */
.xy-prof {
    height: 250px;
    width: 250px;
    border: 10px solid rgb(140, 186, 128);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* Text box below the main */
.lower-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(202, 207, 133);
    margin-left: 10%;
    margin-right: 10%;
    border-right: 10px solid rgb(140, 186, 128);
    border-left: 10px solid rgb(140, 186, 128);
    padding: 10px;
}

/* main section styling */
.main-back-box {
    background-color: rgb(255, 205, 213);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-top: 10px solid rgb(255, 185, 185);
    border-bottom: 10px solid rgb(255, 185, 185);
    padding: 10px;
}

.main-back-box a {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/* boxes to contain portfolio items */
.one-port-box {
    background-color: rgb(202, 207, 133);
    border: 10px solid rgb(140, 186, 128);
    padding: 10px;
    margin: 10px;
    min-width: 70%;
    display: flex;
    justify-content: center;
}

.port-box {
    background-color: rgb(202, 207, 133);
    border: 10px solid rgb(140, 186, 128);
    padding: 10px;
    margin: 10px;
    max-width: 40%;
}

/* footer styling */
footer p,
footer a {
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    background-color: rgb(202, 207, 133);
    border: 5px solid rgb(140, 186, 128);
    min-width: 225px;
    padding: 5px;
}

/* figure box and text styling */
figure img {
    max-height: 100%;
    max-width: 100%;
}

figure p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

/* media query for responsiveness */
@media (min-width:560px) {
    .main-back-box a {
        width: 50%
    }

    figure p {
        font-weight: bolder;
        font-size: 35px;
    }

    footer p,
    footer a {
        font-size: 20px;
    }
}